body {
    color: #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}
a{
    color:  #11999E;
    margin: 10px 20px;
    text-decoration: none;
 }
 a:hover{
    color: #EAF6F6;
 }
 .copyrights{
    color: #EAF6F6;
    padding: 20px 0;
 }

h1{
    color:  #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 7rem;
}
h2{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:  #11999E;
    font-family: 'Montserrat', sans-serif;
}
hr{
   border-style: none;
   border-top-style: dotted;
   border-width: 10px;
   width: 7%;
   margin: 100px auto;
   border-color: #EAF6F6;

}
p{
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-me {
    width: 40%;
    margin: 40px auto 40px auto;
}
.cloud-1{
    width: 250px;
    position: absolute;
    right: 150px;
    top: 50px;
}
.cloud-2{
    width: 250px;
    position: absolute;
    left: 150px;
    top: 300px;

}
.mountain-1{
    width: 800px;
    margin: 40px auto 60px;
}
.jameel-pics{
    width: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding-bottom: 10px;
   
}
.skills-1{
    float: left;
    margin: 30px;
    position: relative;
    bottom: 50px;
    width:100px;
}
.skills-2{
    float: right;
    margin: 30px;
    position: relative;
    bottom: 40px;
    width: 150px;
}
.web{
    text-decoration: underline;
}
.top-container {
    background-color:  #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottom-container{
   background-color: #66BFBF;
   color: #EAF6F6;
   padding-top: 50px;
   padding-bottom: 50px;
}

.cm {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 16px 10px 20px;
    text-decoration: none;
  }
  
  .cm:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
